*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: rgb(11, 11, 146);
}
p{
    text-decoration: none;
    color: rgb(39, 39, 163);
}
.container{
    padding-left: 25px;
    padding-right: 25px;
    max-width: 1300px;
    margin: auto;
}
.row{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    min-width: 300px
 }
.col-2 img{
    width: 550px;
    padding: 70px 0;
}
.col-2 h1{
    margin:25px 0 ;
    line-height: 39px;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    border: 2px solid black;
    transition: background 0.5s;
}
            

header{
    background-color: rgb(255, 216, 255);
}
.logo{
    border: 2px solid rgb(55, 6, 101);
    border-radius: 5px;
}
.btn:hover{
    background-color: rgb(25, 25, 141);
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
body{
    background-color:rgb(252, 232, 249);
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: rgb(7, 7, 147);
}
.title::after{
    content: '';
    background-color: red;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%);
}
.col-4:hover{
    transform: translateY(-20px);
}
.offer{
    background-color: rgb(255, 216, 255) ;
    margin-top: 80px;
    padding: 30px 0;

}
small{
    font-size: 32px;
}
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-20px);
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
}
.testimonial .col-3 h3{
    font-weight: 600;
    font-size: 16px;
    color: rgb(8, 8, 104);
}
footer{
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 60px 0 20px;
}
footer p{
    color: rgb(148, 142, 142);
}
footer h{
    color: white;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
   
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
footer hr{
    border: none;
    color: beige;
    height: 1px;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
}


/*--------All Products---------*/

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid black;
    padding: 5px;
}
select:focus{
   outline: none;
}
.pg-btn span{
    display: inline-block;
    border: 1px solid black;
    cursor: pointer;
    line-height: 40px;
    margin-left: 10px;
    text-align: center;
    width: 40px;
    height: 40px;
}
.pg-btn span:hover{
    background: #ff523b;
    color: #fff;
}









/*--------Media Query for less than 600 screen size---------*/

@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transform: max-hieght 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
        
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
